body {
	background: salmon;
}

#game-board {
	height: 602px;
	width: 602px;
	border: 1px solid black;
	margin: 0 auto;
	margin-top: 50px;
}

.game-tile{
	float: left;
	font-size: 0;
	display: inline-block;
	height: 30px;
	width: 30px;
	border: 1px solid gray;
}


