h1 {
  visibility: hidden;
}

h2 {
  color: white;
}

#button {
  visibility: hidden;
}

.center {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
}

body {
    background: url(../images/woodbg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    font-family: 'News Cycle', sans-serif;
    width: 100%;
  }

@media (min-width: 1050px){
  
  h1 {
    visibility: visible;
    color: #68CC01;
    margin-top: 10px;
    right: 10px;
  	font-family: 'News Cycle', sans-serif;
  }

  h2 {
    display: none;
  }

  p {
  	text-align: center;
  	margin: 0 auto;
  	font-family: 'News Cycle', sans-serif;
  }

  .btn {
    border-radius: 0;
  }

  .container {
  	height: 100vh;
  	width: 100%;
  	margin: 0 auto;
  }

  .game-tile{
    float: left;
    font-size: 0;
    display: inline-block;
    height: 29.9px;
    width: 29.9px;
    border: 1px solid #8C8C8C;
    background-color: #CBCBCB;
  }

  .hovered {
    opacity: .5;
  }

  .hovered.blue {
    background-color: blue;
  }

  .hovered.yellow {
    background-color: yellow;
  }

  .hovered.red {
    background-color: red;
  }

  .hovered.green {
    background-color: green;
  }

  #button {
    visibility: visible;
    background: #FFF334;
    color: #0196CC;
  }

  #game-board{
    box-sizing: border-box;
    height: 600px;
    width: 600px;
    border: 1px solid gray;
    border-radius: 0.5;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #left-side {
    height: 70%;
    width: 400px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #piece-0, #piece-1, #piece-2, #piece-3, #piece-4, #piece-5, #piece-6, #piece-7, 
  #piece-8, #piece-9, #piece-10, #piece-11, #piece-12, #piece-13, #piece-14, #piece-15, 
  #piece-16, #piece-17, #piece-18, #piece-19, #piece-20
  {
    background-image: url('../images/Blokus-pieces/384bcd.png');
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 3%;  
    margin-bottom: 2%;
    margin-top: 3%;
  }

  #piece-0{
    height: 116px;
    width: 30px;
    background-position: -475px -105px;
  }

  #piece-1{
    height: 54px;
    width: 96px;
    background-position: 3px -125px;
  }

  #piece-2{
    height: 55px;
    width: 98px;
    background-position: -279px -125px;
  }

  #piece-3{
    height: 55px;
    width: 100px;
    background-position: -405px -218px;
  }

  #piece-4{
    height: 75px;
    width: 77px;
    background-position: -235px -190px;
  }

  #piece-5{
    height: 76px;
    width: 76px;
    background-position: -322px -190px;
  }

  #piece-6{
    height: 76px;
    width: 54px;
    background-position: -148px -190px;
  }

  #piece-7{
    height: 75px;
    width: 56px;
    background-position: 5px -190px;
  }

  #piece-8{
    height: 80px;
    width: 80px;
    background-position: -60px -190px;
  }

  #piece-9{
    height: 76px;
    width: 76px;
    background-position: -105px -105px;
  }

  #piece-10{
    height: 75px;
    width: 76px;
    background-position: -192px -105px;
  }

  #piece-11{
    height: 76px;
    width: 76px;
    background-position: -387px -105px;
  }

  #piece-12{
    height: 35px;
    width: 100px;
    background-position: -190px -60px;
  }

  #piece-13{
    height: 54px;
    width: 78px;
    background-position: -430px -40px;
  }

  #piece-14{
    height: 55px;
    width: 55px;
    background-position: 4px -40px;
  }

  #piece-15{
    height: 55px;
    width: 78px;
    background-position: -82px -40px;
  }

  #piece-16{
    height: 60px;
    width: 80px;
    background-position: -320px -40px;
  }

  #piece-17 {
    height: 30px;
    width: 78px;
    background-position: -365px 2px;
  }

  #piece-18 {
    height: 55px;
    width: 60px;
    background-position: -255px 5px;
  }

  #piece-19 {
    height: 30px;
    width: 55px;
    background-position: -147px 0px;
  }

  #piece-20 {
    height: 30px;
    width: 36px;
    background-position: -60px 3px;
  }

}